@page "{id:int}"
@model DoomlistApp.Pages.Albums.AlbumModel

@{
    ViewData["Title"] = Model.Album.Artist + " - " + Model.Album.Name;
}

<h1>+ Doomlist +</h1>
<h2 class="sub-title">Doom and stoner archives</h2>

<div class="album-detail-container">
    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Album.AlbumCover)" alt="@Model.Album.Name"
        class="album-cover">

    <div class="album-info">
        <p><strong>Album:</strong> @Model.Album.Name</p>
        <p><strong>Artist:</strong> @Model.Album.Artist</p>
        <p><strong>Genre:</strong> @Model.Album.Genre</p>
        <p><strong>Year:</strong> @Model.Album.ReleaseYear</p>
        <p><strong>Rating:</strong> <span class="rating-stars">@Html.Raw(Model.GetStarRating(Model.Album.Rating))</span></p>

        <p><strong>Tracklist:</strong></p>
        <div class="song-list">
            @foreach (var track in Model.Tracks)
            {
                <p>@track.TrackNumber. @track.Title</p>
            }
        </div>

        <p><strong>Review:</strong>
        <div class="review-section">
            @foreach (var review in Model.Reviews)
            {
                <p><strong>Posted:</strong> @review.CreatedAt.ToShortDateString()</p>
                <p>@review.ReviewText</p>
            }
        </div>
    </div>
</div>
<a href="/" class="back-button">← Back to Doomlist</a>
