@page
@model DoomlistApp.Pages.AlbumsModel
@{
    ViewData["Title"] = "Albums";
}

<meta name="viewport" content="width=1280">

<h1>+ Doomlist +</h1>
<h2 class="sub-title">Metal Archives</h2>

<div class="filter-container">
    <form method="get">
        <select name="selectedGenre">
            <option value="">All Genres</option>
            @foreach (var genre in Model.Genres)
            {
                <option value="@genre.Value">@genre.Text</option>
            }
        </select>

        <select name="selectedYear">
            <option value="">Year</option>
             @foreach (var year in Model.Albums.Select(a => a.ReleaseYear).Distinct().OrderByDescending(y => y))
            {
                <option value="@year">@year</option>
            }
        </select>

        <select name="selectedArtist">
            <option value="">Artist</option>
            @foreach (var artist in Model.Albums.Select(a => a.Artist).Distinct().OrderBy(a => a))
            {
                <option value="@artist">@artist</option>
            }
        </select>

        <select name="selectedRating">
            <option value="">Rating</option>
            @foreach (var rating in Model.Albums.Select(a => a.Rating).Distinct().OrderByDescending(r => r))
            {
                <option value="@rating">@rating Stars</option>
            }
        </select>

        <button type="submit">Find!</button>
    </form>
</div>

<div class="album-container">
    @foreach (var album in Model.Albums)
    {
        <a asp-page="/Albums/Album" asp-route-id="@album.Id" class="album-card">
            <img src="data:image/png;base64,@Convert.ToBase64String(album.AlbumCover)" alt="@album.Name">
            <div class="album-title">@album.Name</div>
            <div class="album-artist">@album.Artist</div>
        </a>
    }
</div>
